apiVersion: v1
kind: Service
metadata:
  name: {{ include "todo-app.backend.fullname" . }}
  labels:
    {{- include "todo-app.backend.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/component: backend
    app.kubernetes.io/instance: {{ .Release.Name }}
