apiVersion: v1
kind: Service
metadata:
  name: {{ include "todo-app.frontend.fullname" . }}
  labels:
    {{- include "todo-app.frontend.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/component: frontend
    app.kubernetes.io/instance: {{ .Release.Name }}
